archive/legacy-supabase-queries/n8n_workflow_stripe_webhook.json
{
  "name": "Woof - Stripe Webhook",
  "nodes": [
    {
      "parameters": {
        "path": "stripe-webhook",
        "methods": [
          "POST"
        ],
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "responseCode": 200
      },
      "id": "Webhook Stripe",
      "name": "Webhook Stripe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst payload = items[0].json;\nitems[0].json = {\n  user_id: payload.data?.object?.metadata?.user_id || payload.data?.object?.client_reference_id,\n  tier_code: (payload.data?.object?.metadata?.tier_code) || 'premium',\n  status: (payload.type === 'checkout.session.completed' || payload.type === 'invoice.payment_succeeded') ? 'active' :\n          (payload.type === 'customer.subscription.deleted' ? 'canceled' : 'active'),\n  end_date: payload.data?.object?.current_period_end ? new Date(payload.data.object.current_period_end * 1000).toISOString() : null\n};\nreturn items;\n"
      },
      "id": "Process Stripe Event",
      "name": "Process Stripe Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "url": "={{$env.SUPABASE_URL}}/rest/v1/user_subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "headerParametersJson": "[\n          {\"name\":\"apikey\",\"value\":\"={{$env.SUPABASE_SERVICE_ROLE}}\"},\n          {\"name\":\"Authorization\",\"value\":\"=Bearer {{$env.SUPABASE_SERVICE_ROLE}}\"}\n        ]"
      },
      "id": "Upsert Subscription",
      "name": "Upsert Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        980,
        300
      ]
    },
    {
      "parameters": {
        "options": {},
        "url": "={{$env.SUPABASE_URL}}/rest/v1/users?id=eq.{{$json.user_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "jsonParameters": true,
        "headerParametersJson": "[\n          {\"name\":\"apikey\",\"value\":\"={{$env.SUPABASE_SERVICE_ROLE}}\"},\n          {\"name\":\"Authorization\",\"value\":\"=Bearer {{$env.SUPABASE_SERVICE_ROLE}}\"}\n        ]",
        "method": "PATCH"
      },
      "id": "Update User Premium",
      "name": "Update User Premium",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 5,
      "position": [
        980,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Stripe": {
      "main": [
        [
          {
            "node": "Process Stripe Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Stripe Event": {
      "main": [
        [
          {
            "node": "Upsert Subscription",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update User Premium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetup": []
  }
}